<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />		
	</system.web>
	<connectionStrings>
		<!--<add name="connection" connectionString="Data Source = DESKTOP-3HQNK4Q\SQL_2022; Initial Catalog = CGMS; User Id = sa; Password = 1234;" 
			 providerName="System.Data.SqlClient"/>-->
		<!--<add name="connection" connectionString = " Data Source = 148.72.232.12; Initial Catalog = CGMS; User Id = cgms; Password = bUa5m!096;" providerName="System.Data.SqlClient"/>-->
		<add name="connection" connectionString = " Data Source = 148.66.145.41; Initial Catalog = CGMS; User Id = cgms; Password = bUa5m!096;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>